html { font-size: 100%; height: auto; }

body {//	@include rem('padding', 140px 0);
	height: auto;
	background: url("../img/bg_body.jpg");
}

body.page-home {  }

img { max-width: 100%; }

hr {
	position: relative;
	@include rem('margin', 40px 0);

	&:before {
		position: absolute;
		left: 50%;
		top: -20px;
		margin-left: -31px;
		content: url("../img/bg_hr.png");
	}

	&:after {
		content: '';
		width: 100%;
		height: 2px;
		display: block;
		background: $brown;
	}
}

small { @include font-size(14px); }

.label {
	font-weight: bold;
	color: #fff;
	@include font-size(32px);
	font-weight: bold;
	line-height: 1;
}

:focus { @include box-shadow(none); }

.page {
	@include rem('padding-top', 90px);
	@include rem('padding-bottom', 80px);
	@include rem('padding-left', 45px);
	@include rem('padding-right', 45px);

	&.more-pad {
		@include rem('padding-top', 140px);
	}

	@include media-query (md) {
		padding-left: 9px;
		padding-right: 9px;
	}
}

.page-home {

	.page {
		@include rem('padding-bottom', 40px);

		@include media-query (xs) {
			@include rem('padding-top', 90px);
		}
	}
}

.email {
	overflow: hidden;
	text-overflow: ellipsis;
}

.br {
	position: relative;
	width: 100%;
	height: 1px;
	@include rem('margin', 12px 0 18px 0);
	background: $brown;
	
	&.br-arrow:after {
		content: url("../img/i_home-button.png");
		position: absolute;
		right: -8px;
		top: -12px;
	}
}