.container { form { .row + .row { margin-top: 14px; } } }

form {
	@include font-size(22px);
	color: $blue;

	.row {  }

	[class^="col-sm-"], [class^="col-xs-"] { @include media-query (sm_max) { margin-top: 14px; } }

	button[type="submit"], .btn.submit, input { border: none; }

	input {
		color: $blue;
//		@include font-size(26px);
		width: 100%;
		@include rem('padding', 12px 16px);
	}

	.checkbox {

		input[type="checkbox"], input[type="radio"] {
			@include box-shadow(none);
			width: auto;
			float: left;
			margin-right: 20px;
		}

		label {
			display: block;
			font-weight: bold;
		}
	}

	label {
		@include rem('margin', 20px 0 14px);
		color: #fff;
//		@include font-size(26px);
		font-weight: bold;
		line-height: 1;
	}
}

::-webkit-input-placeholder { color: #b2b2b2; }
:-moz-placeholder { color: #b2b2b2; }
::-moz-placeholder { color: #b2b2b2; }
:-ms-input-placeholder { color: #b2b2b2; }