body { background: url('../img/bg_body.jpg'); }

.row + .row {
	margin-top: 30px;

	[class^="col-xs-"], [class^="col-sm-"] {
		&:first-child {
			margin-top: 0;
		}
	}
}

.title {
	@include font-size(24px);
	color: #fff;
	text-align: center;
	z-index: 1;
	font-weight: bold;

	@include media-query (xs) {
		@include font-size(36px);
	}
}

.edit {
	position: absolute;
	top: 6px;
	right: 12px;
	width: 31px;
	height: 31px;
	display: block;
	background: #b2b2b2;
	@include border-radius(50%);

	i {
		width: 102%;
		color: #fff;
		@include font-size(18px);
		@include rotateY(180deg);
		line-height: 1.7;
	}
}

.page.layout-grid {

	@include media-query (xs) {
//		padding-left: 0;
//		padding-right: 0;
	}
}

.layout-grid {

	.card {
		width: 100%;
		float: left;

		@include media-query (sm) {
			width: 47%;
			margin: 50px 1.5% 20px;
			float: left;
		}

		.header {

			.title {

				span {
					width: 100%;
					@include font-size(22px);
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;
				}
			}
		}

		footer {
			@include rem('padding', 6px 0);
//			@include rem('margin-bottom', 40px);

			.card-action {
				bottom: -20px;
			}

			.btn-white:hover {
				background: #fff;
				cursor: default;
			}
		}

		.content {
			height: 320px;
		}
	}
}