body {
	background: url('../img/bg_body.jpg');
}

.container {
//	width: 900px;
}

.container {

	.row + .row {
		margin-top: 30px;
	}
}

.row + .row {
	margin-top: 30px;
}

.title {
	font-family: 'wisdom', script;
	color: #fff;
	text-align: center;
	z-index: 1;
}

.edit {
	position: absolute;
	top: 6px;
	right: 12px;
	width: 31px;
	height: 31px;
	display: block;
	background: #b2b2b2;
	@include border-radius(50%);

	i {
		width: 102%;
		color: #fff;
		@include font-size(18px);
		@include rotateY(180deg);
		line-height: 1.7;
	}
}