body { background: url('../img/bg_body.jpg'); }

.row + .row { margin-top: 30px; }

.title {
	font-family: 'wisdom', script;
	color: #fff;
	text-align: center;
	z-index: 1;
}

.edit {
	position: absolute;
	top: 6px;
	right: 12px;
	width: 31px;
	height: 31px;
	display: block;
	background: #b2b2b2;
	@include border-radius(50%);

	i {
		width: 102%;
		color: #fff;
		@include font-size(18px);
		@include rotateY(180deg);
		line-height: 1.7;
	}
}

.page.layout-grid {

	@include media-query (xs) {
//		padding-left: 0;
//		padding-right: 0;
	}
}

.layout-grid {

	.card {

		@include media-query (sm) {
			width: 47%;
			margin: 50px 1.5% 0;
			float: left;
		}

		.header {

			.title {

				span {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;
				}
			}
		}
	}
}