.masthead {
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(70, 49, 16, .5);

	nav {
		position: relative;
		z-index: 999;
	}
	
	i.toggle {
		background: rgba(0, 0, 0, .25);
		@include font-size(56px);
		@include rem('padding', 0 18px);
		float: right;
		color: #fff;
	}

	.logo {
		position: absolute;
		top: 12px;
		left: 0;
		width: 125px;
		height: 145px;
		background: url("../img/l_nav.png");
		z-index: 999;
	}

	.page-title {
		@include font-size(36px);
		position: absolute;
		top: 8px;
		text-align: center;
		z-index: 1;
	}

	.sub-title {
		position: absolute;
		top: 64px;
		z-index: 1;
		width: 100%;
		text-align: center;

		span {
			display: inline-block;
			@include rem('padding', 8px 22px);
			@include font-size(14px);
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			background: $blue;
			@include border-radius(8px);
			@include box-shadow(0 3px 6px 3px rgba(0, 0, 0, 0.3));
		}
	}
}
