.card {
	@include box-shadow(0 0 10px 5px rgba(0, 0, 0, 0.4));
	@include border-radius(16px);
	background: #fff;
	@include rem('margin-top', 50px);
	display: block;

	&:hover { text-decoration: none; }

	header {
		position: relative;
		text-align: center;
		color: #fff;
		@include rem('padding', 12px 16px 20px);
		background: $green;
		@include border-radius(12px 12px 0 0);

		@include media-query (sm) {
			@include rem('padding', 26px 16px 20px);
		}

		.title {
			@include rem('margin-top', 18px);
			color: #fff;
			@include font-size(26px);
			line-height: 1;
			text-align: center;

			@include media-query (sm) {
				width: 90%;
				position: absolute;
				left: 5%;
				@include rem('top', -28px);
				@include rem('margin-top', 0);
				@include rem('margin-bottom', 12px);
			}

			span {
				background: $green;
				@include border-radius(12px);
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: break-all;
				white-space: nowrap;
				display: block;

				@include media-query (sm) {
					@include font-size(32px);
					display: inline-block;
					@include rem('padding', 9px 38px);
				}
			}
		}

		h2 { @include rem('margin-top', 12px); }

		.line-through {
			@include rem('margin', 6px 0 20px);
			@include font-size(16px);
			color: #fff;

			span { background: $green; }
			&:after { background: #fff; }
		}

		.btn { @include rem('margin-top', 10px); }

		.edit {
			background: #2d5f17;

			i { color: $green; }
		}
	}

	.content {
		@extend .block-content;
		margin-bottom: 0;
		@include rem('padding', 30px 20px);
		@include box-shadow(none);
	}

	.header + .content { @include border-radius(0 0 12px 12px); }

	footer {
		position: relative;
		@include rem('padding', 30px 20px 50px 20px);

		.card-action {
			position: absolute;
			width: 100%;
			bottom: -24px;
			left: 15px;
		}

		&.split-button {
			@extend %clearfix;

			button, .btn, .btn.btn-brown, .btn.btn-blue {
				width: 49.5%;
				float: left;
				@include rem('padding', 16px 0);
				@include border-radius(0);
				@include rem('margin-top', 4px);

				&:last-child { @include border-radius(0 0 8px 0); }
				&:nth-last-child(2) { @include border-radius(0 0 0 8px); }
				&:nth-child(odd) {
					margin-right: 1%;
				}
			}
		}

		&.sticky {
			@include rem('padding', 6px);
		}
	}

	.chosen-container .chosen-drop {
		background: #fff;
	}

	.note {
		position: relative;
		@include rem('padding', 30px 20px 30px 50px);
		@include font-size(18px, 24px);

		&:before {
			content: "\f02d";
			color: $blue_dark;
			@include font-size(22px);
			font-family: 'FontAwesome';
			position: absolute;
			left: 10px;
			top: 30px;
		}
	}

	table {
		thead {
			th {
				&:nth-child(3) {
					width: 40%;
				}

				&:nth-child(4) {
					width: 30%;
				}
			}
		}

		.btn {
			color: rgba(255,255,255,.5);

			&.active, &:hover {
				color: rgba(255,255,255,1);
			}
		}
	}
}

button.card {
	padding: 0;
	border: none;
	text-align: left;
}